.swiper {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 32px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 614px;
  height: 100px;
}
.append-buttons {
  text-align: center;
  margin-top: 20px;
}

.append-buttons button {
  display: inline-block;
  cursor: pointer;
  border: 1px solid #007aff;
  color: #007aff;
  text-decoration: none;
  padding: 4px 10px;
  border-radius: 4px;
  margin: 0 10px;
  font-size: 13px;
}

.swiper-button-prev {
  background-color: #3456ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 60px;
}

.swiper-button-next {
  background-color: #3456ff;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: 60px;
}

.swiper-button-prev::after {
  color: white;
  font-size: 14px;
}

.swiper-button-next::after {
  color: white;
  font-size: 14px;
}
